html, body {
    margin:0px;
}

.about{
    padding-top: 2%;
    /* height: 100%; */
    background-image: linear-gradient(#0e1752, #000524, black);
    /* position:absolute; */
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

.section{
    /* height: 100%; */
    /* background-image: linear-gradient(#0e1752, #000524, black); */
    /* position:absolute; */
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    display: block;
    text-align: center;
}

.section-2{
    display: block;
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
}

h1{
    margin-top: 3%;
    font-size: 60px;
    color: #1d6b11;
}

.sub-heading{
    /* margin-top: 3%; */
    font-size: 40px;
    color: rgb(216, 236, 169);
}

.about-e{
    color: white;
    font-size: 20px;
    font-weight: 200;
    line-height: 200%;
    margin-top: 0;
    border: none;
    /* display: block; */
}

.about-1{
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: 200;
    line-height: 200%;
    display: inline;
}

.tech{
    margin: 0;
    margin-right: 2%;
    color: white;
    font-size: 20px;
    font-weight: 200;
    line-height: 200%;
    display: inline;
}

.tools{
    margin: 0;
    margin-right: 2%;
    color: white;
    font-size: 20px;
    font-weight: 200;
    line-height: 200%;
    display: block;
}

img{
    width: 200px;
    border-radius: 50%;
}

hr{
    margin-right: 5%;
    margin-left: 5%;
}

.column1 {
    float: left;
    width: 25%;
    margin-top: 6%;
}

.column2 {
    float: left;
    width: 50%;
    margin-left: 10%;
    margin-top: 5%;
}

.column3 {
    float: left;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 950px) {
    .stars{
        width: 10px;
    }
    .column1{
        float: left;
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
    }
    .column2{
        float: left;
        width: 40%;
        margin-left: 5%;
        /* margin-right: 5%; */
        margin-top: 5%;
    }
    .about-e{
        font-size: 15px;
        margin-left: 15%;
        margin-right: 15%;
    }
    .sub-heading{
        font-size: 2px;
    }
    .tools{
        font-size: 15px;
    }
    .tech{
        font-size: 15px;
    }
    .about-e{
        display: block;
    }
    .column3{
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
    }
 }
