html{
    height: 100%;
}

.contact{
    padding-top: 2%;
    height: 100%;
    background-image: linear-gradient(#0e1752, #000524, black);
    /* position:absolute; */
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    display: block;
    text-align: center;
}

.form{
    padding-top: 4%;
}

.input-box{
    background-color: transparent;
    color: white;
    outline: black;
    border-left: none;
    border-right: none;
    border-top: none;
    border-width: 4px;
    border-radius: 2%;
    margin-top: 0;
    margin-bottom: 2%;
    width: 30%;
    font-size: 20px;
}

.input-box-message{
    background-color: transparent;
    background-color: white;
    border-width: 4px;
    border-color: black;
    border-radius: 2%;
    width: 30%;
    font-size: 20px;
    padding: 1%;
}

.send-button{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: 200;
    background-color: transparent;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    border-radius: 15px;
    border-color: #ff7700;
}

.send-button:hover {
    cursor: pointer;
    color: green;
    border-color: green;
}

h2{
    font-size: 25px;
    color: rgb(216, 236, 169);
    margin-bottom: 0;
}

.contact-icons{
    margin-top: 1%;
    display: block;
    text-align: center;
}