.home{
   padding-top: 2%;
   display: block;
   text-align: center;
}

.name{
   color: white;
   font-size: 100px;
   margin-top: 10%;
   margin-bottom: 0%;
   
}

h2{
   color: white;
   font-size: 45px;
   font-weight: 400;
   font-family: 'Courier New', Courier, monospace;
}

img:hover {
   cursor: pointer;
}

@media screen and (max-width: 800px) {
   h1{
      font-size: 70px;
   }

   h2{
      font-size: 25px;
   }
}