.nav{
    background-color: transparent;
    display: block;
    text-align: center;
}

button{
    color: white;
    font-size: 30px;
    font-weight: 200;
    margin-left: 5%;
    background-color: transparent;
    border-left: none;
    border-top: none;
    border-right: none;
    border-color: yellow;
}

button:hover {
    cursor: pointer;
    color: #ff7700;
}